.elementor-17 .elementor-element.elementor-element-104fc112>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-17 .elementor-element.elementor-element-104fc112:not(.elementor-motion-effects-element-type-background),
.elementor-17 .elementor-element.elementor-element-104fc112>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-0673e5d);
}

.elementor-17 .elementor-element.elementor-element-104fc112 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 6px 0px 6px 0px;
}

.elementor-17 .elementor-element.elementor-element-104fc112>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-17 .elementor-element.elementor-element-ca5d690.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-17 .elementor-element.elementor-element-ca5d690.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-17 .elementor-element.elementor-element-ca5d690.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-17 .elementor-element.elementor-element-17a67007 {
    text-align: center;
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-17 .elementor-element.elementor-element-17a67007 .elementor-heading-title {
    color: var( --e-global-color-d255906);
    font-family: "Raleway", Sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4em;
    letter-spacing: 0.3px;
}

.elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu .elementor-item {
    font-family: "Lato", Sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0px;
}

.elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu--main .elementor-item {
    color: #000000;
    fill: #000000;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var( --e-global-color-accent);
}

.elementor-17 .elementor-element.elementor-element-3bc5a428 {
    --e-nav-menu-horizontal-menu-item-margin: calc( 30px / 2);
}

.elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 30px;
}

.elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu--dropdown a,
.elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-menu-toggle {
    color: var( --e-global-color-text);
}

.elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu--dropdown {
    background-color: var( --e-global-color-d255906);
    border-radius: 2px 2px 2px 2px;
}

.elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu--dropdown a:hover,
.elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu--dropdown a.highlighted,
.elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-menu-toggle:hover {
    color: var( --e-global-color-text);
}

.elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu--dropdown a:hover,
.elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu--dropdown a.highlighted {
    background-color: var( --e-global-color-accent);
}

.elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu--dropdown a.elementor-item-active {
    color: var( --e-global-color-text);
    background-color: var( --e-global-color-accent);
}

.elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu--dropdown .elementor-item,
.elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
    text-transform: var( --e-global-typography-accent-text-transform);
    font-style: var( --e-global-typography-accent-font-style);
    letter-spacing: var( --e-global-typography-accent-letter-spacing);
}

.elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu--dropdown li:first-child a {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu--dropdown li:last-child a {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu--main .elementor-nav-menu--dropdown,
.elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu--dropdown a {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu--dropdown li:not(:last-child) {
    border-style: solid;
    border-color: var( --e-global-color-9e24bf9);
    border-bottom-width: 1px;
}

.elementor-17 .elementor-element.elementor-element-3bc5a428 div.elementor-menu-toggle {
    color: var( --e-global-color-d255906);
}

.elementor-17 .elementor-element.elementor-element-3bc5a428 div.elementor-menu-toggle svg {
    fill: var( --e-global-color-d255906);
}

.elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-menu-toggle {
    background-color: var( --e-global-color-3b0f6ea);
}

.elementor-17 .elementor-element.elementor-element-3bc5a428 div.elementor-menu-toggle:hover {
    color: var( --e-global-color-d255906);
}

.elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-menu-toggle:hover {
    background-color: var( --e-global-color-primary);
}

.elementor-17 .elementor-element.elementor-element-3bc5a428>.elementor-widget-container {
    margin: 0px 0px 0px 64px;
}

.elementor-bc-flex-widget .elementor-17 .elementor-element.elementor-element-0d8105a.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-17 .elementor-element.elementor-element-0d8105a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-17 .elementor-element.elementor-element-2317957d .elementor-button .elementor-align-icon-right {
    margin-left: 8px;
}

.elementor-17 .elementor-element.elementor-element-2317957d .elementor-button .elementor-align-icon-left {
    margin-right: 8px;
}

.elementor-17 .elementor-element.elementor-element-2317957d .elementor-button {
    font-family: var( --e-global-typography-4f4ab17-font-family), Sans-serif;
    font-size: var( --e-global-typography-4f4ab17-font-size);
    font-weight: var( --e-global-typography-4f4ab17-font-weight);
    text-transform: var( --e-global-typography-4f4ab17-text-transform);
    font-style: var( --e-global-typography-4f4ab17-font-style);
    line-height: var( --e-global-typography-4f4ab17-line-height);
    letter-spacing: var( --e-global-typography-4f4ab17-letter-spacing);
    word-spacing: var( --e-global-typography-4f4ab17-word-spacing);
    fill: var( --e-global-color-text);
    color: var( --e-global-color-text);
    background-color: var( --e-global-color-28d0bef);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-text);
    border-radius: 5px 5px 5px 5px;
    padding: 6px 15px 6px 15px;
}

.elementor-17 .elementor-element.elementor-element-2317957d {
    width: auto;
    max-width: auto;
    align-self: center;
}

@media(max-width:1024px) {
    .elementor-17 .elementor-element.elementor-element-104fc112 {
        padding: 12px 32px 12px 32px;
    }
    .elementor-17 .elementor-element.elementor-element-17a67007 .elementor-heading-title {
        font-size: 14px;
    }
    .elementor-bc-flex-widget .elementor-17 .elementor-element.elementor-element-782dae2.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-17 .elementor-element.elementor-element-782dae2.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu .elementor-item {
        font-size: 14px;
    }
    .elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var( --e-global-typography-accent-font-size);
        letter-spacing: var( --e-global-typography-accent-letter-spacing);
    }
    .elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu--dropdown a {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 12px !important;
    }
    .elementor-17 .elementor-element.elementor-element-3bc5a428>.elementor-widget-container {
        margin: 0px 0px 0px 32px;
    }
    .elementor-17 .elementor-element.elementor-element-3bc5a428 {
        width: auto;
        max-width: auto;
    }
    .elementor-17 .elementor-element.elementor-element-2317957d .elementor-button {
        font-size: var( --e-global-typography-4f4ab17-font-size);
        line-height: var( --e-global-typography-4f4ab17-line-height);
        letter-spacing: var( --e-global-typography-4f4ab17-letter-spacing);
        word-spacing: var( --e-global-typography-4f4ab17-word-spacing);
    }
}

@media(max-width:767px) {
    .elementor-17 .elementor-element.elementor-element-104fc112 {
        padding: 16px 16px 16px 16px;
    }
    .elementor-17 .elementor-element.elementor-element-17a67007 {
        text-align: center;
    }
    .elementor-17 .elementor-element.elementor-element-a79cc9e {
        width: 80%;
    }
    .elementor-17 .elementor-element.elementor-element-782dae2 {
        width: 20%;
    }
    .elementor-bc-flex-widget .elementor-17 .elementor-element.elementor-element-782dae2.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-17 .elementor-element.elementor-element-782dae2.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu .elementor-item {
        font-size: 12px;
    }
    .elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-17 .elementor-element.elementor-element-3bc5a428 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: var( --e-global-typography-accent-font-size);
        letter-spacing: var( --e-global-typography-accent-letter-spacing);
    }
    .elementor-17 .elementor-element.elementor-element-3bc5a428>.elementor-widget-container {
        margin: 0px 0px 0px 16px;
    }
    .elementor-17 .elementor-element.elementor-element-2317957d .elementor-button {
        font-size: var( --e-global-typography-4f4ab17-font-size);
        line-height: var( --e-global-typography-4f4ab17-line-height);
        letter-spacing: var( --e-global-typography-4f4ab17-letter-spacing);
        word-spacing: var( --e-global-typography-4f4ab17-word-spacing);
        padding: 3px 10px 3px 10px;
    }
}

@media(min-width:768px) {
    .elementor-17 .elementor-element.elementor-element-a79cc9e {
        width: 26.284%;
    }
    .elementor-17 .elementor-element.elementor-element-782dae2 {
        width: 56.905%;
    }
    .elementor-17 .elementor-element.elementor-element-0d8105a {
        width: 16.113%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-17 .elementor-element.elementor-element-a79cc9e {
        width: 60%;
    }
    .elementor-17 .elementor-element.elementor-element-782dae2 {
        width: 15%;
    }
    .elementor-17 .elementor-element.elementor-element-0d8105a {
        width: 25%;
    }
}